@model IList<Ticket.Domain.Bus>
<div class="panel panel-green margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-home"></i> Busses</h3>
    </div>
    <div class="panel-body">
        @Html.Partial("_BusTable", Model) 
      </div>
</div>



