@model IList<Ticket.Domain.Route>
<div>
   <table id="routes-table" data-base="@Request.ApplicationPath" class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Start</th>
                <th>Destination</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in routes">
                <td> {{r.start.name}}  </td>
                <td> {{r.destination.name}} </td>
                <td><a href="#" ng-click="editRoute(r)"> <i class="fa fa-edit"></i> </a> </td>
                <td><a href="#" ng-click="removeRoute(r)"> <i class="fa fa-remove"></i> </a> </td>
            </tr>
        </tbody>
    </table>
</div>

