@using System.ServiceModel.Channels
@using Microsoft.Ajax.Utilities
@model IEnumerable<Ticket.Domain.Route>

           

<div class="panel panel-green margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-home"></i> Routes </h3>
    </div>
    <div class="panel-body">
        <button class="btn btn-success" ng-click="addRoute()"><i class="fa fa-plus"></i> Add Route</button>
        @Html.Partial("_RouteTable", Model.ToList())
    </div>
</div>
          
