


@model Ticket.UI.Web.ViewModels.CompanySetupViewModel

@{
    ViewBag.Title = "Setup";
}

<div class="container">
    <div class="row tab-v3">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#company" data-toggle="tab" aria-expanded="true">
                        <i class="fa fa-home"></i> Company
                    </a>
                </li>
                <li class="">
                    <a href="#busses" data-toggle="tab" aria-expanded="false">
                        <i class="fa fa-bus"></i> Busses
                    </a>
                </li>
                <li class="">
                    <a href="#routes" data-toggle="tab" aria-expanded="false">
                        <span class="item">
                            <span aria-hidden="true" class=" icon-graph"></span>
                            &nbsp; Routes
                        </span>
                    </a>
                </li>
                <li class="">
                    <a href="#payment" data-toggle="tab" aria-expanded="false">
                        <i class="fa  fa-cc-visa"></i> Account Info
                    </a>
                </li>
            </ul>
        </div>

        @*tab content starts here*@
        <div class="col-sm-9">
            <div class="tab-content">
                @Html.Partial("_CompanyTab", Model.Company)
                <div class="tab-pane fade" id="busses">
                  
                 @Html.Partial("_BussesTab", Model.Busses)   
                    

                </div>
                <div class="tab-pane fade" id="routes">
                   @Html.Partial("_RoutesTab", Model.Routes)
                </div>
                <div class="tab-pane fade" id="payment">
                    @Html.Partial("_PaymentTab", Model.Company)
                </div>
            </div>
        </div>
        @*tab content ends here*@
    </div>
</div>

