   <!--=== Job Img ===-->
<div class="job-img margin-bottom-30">
    <div class="job-banner">
        <h2>Discover a new way to travel...</h2>
    </div>
    <div class="job-img-inputs">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" placeholder="Starting from" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" placeholder="Destination" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                        <input type="text" placeholder="Date of travel" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn-u btn-block btn-u-dark"> Search </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Job Img ===-->
<!--=== Content Part ===-->
<div class="container content">
    <!-- Begin Service Block -->
    <div class="row margin-bottom-40">
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-sea service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-notebook"></i>
                <h2 class="heading-md">Company Profiles</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-red service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-users"></i>
                <h2 class="heading-md">Meet The Team</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-block service-block-blue service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
                <h2 class="heading-md">Be a Leader</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            </div>
        </div>
    </div>
    <!-- End Begin Service Block -->
    
</div>



<!--=== Footer Version 4 ===-->
<div class="footer-v4">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-4 md-margin-bottom-40">
                    <a href="index.html"><img class="footer-logo" src="/assets/img/logo-2.png" alt=""></a>
                    <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                    <br>
                    <ul class="list-unstyled address-list margin-bottom-20">
                        <li><i class="fa fa-angle-right"></i>Mikocheni B, P.O Box 000 Dar es salaam</li>
                        <li><i class="fa fa-angle-right"></i>Phone: 1234534</li>
                        <li><i class="fa fa-angle-right"></i>Fax: 234234324</li>
                        <li><i class="fa fa-angle-right"></i>Email: info@msafiri.com</li>
                    </ul>

                    <ul class="list-inline shop-social">
                        <li><a href="#"><i class="fb rounded-1x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="tw rounded-1x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="gp rounded-1x fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="yt rounded-1x fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                <!-- End About -->
                <!-- Simple List -->
                <div class="col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-6">
                            <h2 class="thumb-headline">Secciones</h2>
                            <ul class="list-unstyled simple-list margin-bottom-20">
                                <li><a href="#">Ultima Hora</a></li>
                                <li><a href="#">Exclusiva</a></li>
                                <li><a href="#">Documentos </a></li>
                                <li><a href="#">Francisco papa</a></li>
                                <li>...</li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-6">
                            <h2 class="thumb-headline">Temas</h2>
                            <ul class="list-unstyled simple-list">
                                <li><a href="#">Ultima Hora</a></li>
                                <li><a href="#">Exclusiva</a></li>
                                <li><a href="#">Documentos </a></li>
                                <li><a href="#">Francisco papa</a></li>
                                <li>...</li>
                            </ul>
                        </div>
                    </div>
                </div>

             

             
              
                <!-- End Simple List -->
            </div>
        </div><!--/end continer-->
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        @DateTime.Now.Year &copy; Ticket ALL Rights Reserved.
                         <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline sponsors-icons pull-right">
                        <li><i class="fa fa-cc-paypal"></i></li>
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-discover"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer Version 4 ===-->