@Html.Partial("_Search")
<!--=== Content Part ===-->
<div class="container content">
    <!-- Begin Service Block -->
    <div class="row margin-bottom-40">
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-sea service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-notebook"></i>
                <h2 class="heading-md">Company Profiles</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="service-block service-block-red service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-users"></i>
                <h2 class="heading-md">Meet The Team</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-block service-block-blue service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
                <h2 class="heading-md">Be a Leader</h2>
                <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
            </div>
        </div>
    </div>
    <!-- End Begin Service Block -->
    
</div>



    <!--=== Footer Version 3 ===-->
<div class="footer-v3">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index.html"><img id="logo-footer" class="footer-logo" src="/assets/img/logo2-default.png" alt=""></a>
                    
                </div><!--/col-md-3-->
                <!-- End About -->

                <div class="col-md-3 md-margin-bottom-40">
                    <div class="thumb-headline"><h2>About Unify</h2></div>
                    <ul class="list-unstyled simple-list margin-bottom-20">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>

                   
                </div><!--/col-md-3-->

                <div class="col-md-3">
                    <div class="thumb-headline"><h2>Topics</h2></div>
                    <ul class="list-unstyled simple-list margin-bottom-20">
                        <li><a href="#">Bootstrap</a></li>
                        <li><a href="#">Font Awesome</a></li>
                        <li><a href="#">WordPress</a></li>
                        <li><a href="#">Favicon</a></li>
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">iOS</a></li>
                    </ul>

                   
                </div><!--/col-md-3-->

                <div class="col-md-3">
                    <div class="thumb-headline"><h2>Developers</h2></div>
                    <ul class="list-unstyled simple-list margin-bottom-20">
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Android Development</a></li>
                        <li><a href="#">PHP Development</a></li>
                        <li><a href="#">Programmer</a></li>
                        <li><a href="#">Start-up</a></li>
                    </ul>

                   
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        &copy; @DateTime.Now.Year  Ticket ALL Rights Reserved.
                         <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline sponsors-icons pull-right">
                        <li><i class="fa fa-cc-paypal"></i></li>
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-discover"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/copyright--><!--/copyright-->
    </div> 
    </div> 
