   <!--=== Job Img ===-->
<div class="job-img margin-bottom-30">
    <div class="job-banner">
        <h2> Discover a new way to travel...</h2>
    </div>
    <div class="job-img-inputs">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" placeholder="Starting from" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" placeholder="Destination" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                        <input type="text" placeholder="Date of travel" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn-u btn-block btn-u-dark"> Search </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Job Img ===-->
